<html>
    <head>
	
        <title>This is my Leaflet page!</title>
            
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                
        <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
            
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
            
            
                
    </head>
    <body>
        <h1>This is my Leaflet Page</h1>
        <div id="geolocation_data">
            Current Location (lat, lon): <span id="latitude"></span>, <span id="longitude"></span>            
        </div>
        <br/>
        <!--div id="mapid" style="width: 1024px; height: 768px;"></div!-->
        <div id="mapid" style="width: 70%; height: 70%;"></div>
        <script>

            function markLocation(position) {

                var redIcon = new L.Icon({
                    iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });

                latitude = position.coords.latitude;
                longitude = position.coords.longitude;

                document.getElementById("latitude").innerHTML = latitude;
                document.getElementById("longitude").innerHTML = longitude;

                mymap.setView([latitude, longitude], 16, {animation: true});
                L.marker([latitude, longitude], {icon: redIcon}).addTo(mymap).bindPopup(
                    "<b>This is a Geolocation point with HTML5 Geolocation</b>"
                );

            }

            function getLocation() {

                if (navigator.geolocation) {

                    navigator.geolocation.getCurrentPosition(markLocation);

                } else {

                    alert("Browser does not support Geolocation");
                }
            }

            var initialLat = 3.199881;
            var initialLon = 101.719749;

            document.getElementById("latitude").innerHTML = initialLat;
            document.getElementById("longitude").innerHTML = initialLon;
            var mymap = L.map("mapid").setView([initialLat, initialLon], 16);
            
            L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                    maxZoom: 25
                }
            ).addTo(mymap);

            var redIcon = new L.Icon({
                iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });
            
            var ws = new WebSocket("ws://192.168.0.166:8996/");

            ws.onmessage = function(event) {
                //document.getElementById("clock").innerHTML = event.data;
                var location_data = JSON.parse(event.data);
                var location_data_source = null;

                if (location_data.gps == undefined) {
                    
                    location_data_source = location_data.network;

                } else {

                    location_data_source = location_data.gps;
                
                }

                latitude = location_data_source.latitude;
                longitude = location_data_source.longitude;

                mymap.setView([latitude, longitude], 16, {animation: true});

                L.marker([latitude, longitude]).addTo(mymap).bindPopup("<b>This is a Location point with QPython</b>");
            }
         </script>
        <br>
        <form>
            <input type="button" onclick="getLocation();" value="Get Location"/>
            <!--input type="button" onclick="toggleOnOffBomba();" value="bomba button"/!-->
            <!--input type="button" onclick="toggleOnOffPolis();" value="polis button"/!-->
        </form>

    </body>


</html>